/* styles.css */
body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

.book {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.book img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
